<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfitnessapp">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFitnessApp">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity">
        </activity>

        <activity
            android:name=".LoginActivity">
        </activity>

        <activity
            android:name=".HomePageActivity">
        </activity>

        <activity
            android:name=".ProfileUser">
        </activity>

        <activity
            android:name=".AddFood">
        </activity>

        <activity
            android:name=".FoodActivity">
        </activity>

        <activity
            android:name=".Scanner.ScannerActivity">
        </activity>

        <activity
            android:name=".DiaryActivity">
        </activity>

        <activity
            android:name=".SearchFoodActivity">
        </activity>

        <activity
            android:name=".SearchFoodName">
        </activity>

        <activity
            android:name=".SearchFoodBarcode">
        </activity>

        <activity
            android:name=".Scanner.ScannerDiaryActivity">
        </activity>

        <activity
            android:name=".Calendar">
        </activity>

        <activity
            android:name=".ViewHistory">
        </activity>

        <activity
            android:name=".Training.TrainingActivity">
        </activity>

        <activity
            android:name=".Training.BeginnerTraining">
        </activity>

        <activity
            android:name=".Training.MediumTraining">
        </activity>

        <activity
            android:name=".Training.AdvancedTraining">
        </activity>

        <activity
            android:name=".Training.ExerciseBeginner">
        </activity>

        <activity
            android:name=".Training.ExerciseMedium">
        </activity>

        <activity
            android:name=".Training.ExerciseAdvanced">
        </activity>

        <activity
            android:name=".WeightCheck">
        </activity>

        <activity
            android:name=".Manager.ManagerActivity">
        </activity>

        <activity
            android:name=".NutritionMain">
        </activity>

        <activity
            android:name=".BookingActivity">
        </activity>

        <activity
            android:name=".Manager.AddCity">
        </activity>

        <activity
            android:name=".Manager.AddNutritionist">
        </activity>

        <activity
            android:name=".MessageMain">
        </activity>

        <activity
            android:name=".QuizMain">
        </activity>

        <activity
            android:name=".ProfileNutritionist">
        </activity>
    </application>

</manifest>